<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105990489-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};
        gtag('js', new Date());
        gtag('config', 'UA-105990489-2');
    </script>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Daniel de Paula's CV</title>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,600,700|Montserrat:400,400i,600|Lato:400,400i,900|Open+Sans:400,400i,600,700"/>
    <link type="text/css" rel="stylesheet" href="font-awesome/css/font-awesome.min.css"/>
    <link type="text/css" rel="stylesheet" href="materialize/materialize.min.css"/>
    <link type="text/css" rel="stylesheet" href="stylesheets/main.css"/>
    <script type="text/javascript" src="js/include/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="materialize/materialize.min.js"></script>
    <script type="text/javascript" src="js/include/vue.min.js"></script>
</head>
<body>
<div id="page" :style="{ 'fontFamily': currentFont }" v-cloak>
    <nav>
        <div id="navbar" class="nav-wrapper grey darken-2">
            <ul id="font-selector" class="dropdown-content gray darken-2">
                <li v-for="font in fonts"><a @click="currentFont = font" :style="{ 'font-family': font }">{{ font }}</a></li>
            </ul>
            <ul class="left">
                <li class="dropdown-button" data-beloworigin="true" data-activates="font-selector"><a><i class="fa fa-font" style="margin-right: 1em;"></i>{{ currentFont }}<i class="fa fa-caret-down" style="margin-left: 1em;"></i></a></li>
            </ul>
            <ul class="right">
                <li><a @click="window.print()"><i class="fa fa-print"></i></a></li>
            </ul>
        </div>
    </nav>
    <div id="main-grid">
        <div id="header">
            <div id="header-title">
                <span>{{ info.name }}</span>
            </div>
            <div><!--empty div--></div>
            <div id="header-about">
                <span id="header-subtitle">{{ info.position }}</span>
                <span class="info">{{ info.nationality }} | {{ getAge(info.dob) }} years old | {{ info.status }}</span>
                <span class="info">Disponible à partir d’ août 2018</span>
            </div>
            <div id="contact" class="icon-grid">
                <i class="fa-icon fa fa-fw fa-home" style="font-size: 1.5em"></i>
                <span>{{ contact.city }} | {{ contact.country }}</span>
                <i class="fa-icon fa fa-fw fa-phone" style="font-size: 1.4em"></i>
                <span>{{ getPhoneNumber() }}</span>
                <i class="fa-icon fa fa-fw fa-envelope" style="font-size: 1.15em"></i>
                <a :href="'mailto:' + getEmail()" target="_blank">{{ getEmail() }}</a>
            </div>
        </div>

        <div id="left-col" class="main-col">
            <div id="jobs">
                <span class="sec-title">EXPÉRIENCE</span>

                <div class="item" v-for="exp in experiences">
                    <div class="item-header">
                        <div>
                            <span class="item-title"><b>{{ exp.institution }}</b></span>
                            <span class="loc">| {{ exp.city }} | {{ exp.country }}</span>
                        </div>
                        <span class="role">{{ exp.role }}</span>
                    </div>
                    <span class="date"><span class="period">{{ exp.period }}</span><!--
                 --><template v-if="exp.duration"> | {{ exp.duration }}</template></span>
                    <p>{{ exp.description}}</p>
                </div>
            </div>

            <div id="edu">

                <span class="sec-title">ÉDUCATION</span>

                <div class="item" v-for="edu in education">
                    <div class="item-header">
                        <div>
                            <span class="item-title"><b>{{ edu.institution }}</b></span>
                            <span class="loc">| {{ edu.city }} | {{ edu.country }}</span>
                        </div>
                        <span class="role">{{ edu.role }}</span>
                    </div>
                    <span class="date"><span class="period">{{ edu.period }}</span><!--
                --> <template v-if="edu.duration"> | {{ edu.duration }}</template></span>
                    <p>{{ edu.description}}</p>
                </div>
            </div>

            <div id="prj">

                <span class="sec-title">PROJETS</span>

                <div class="item">
                    <div class="item-header">
                        <a target="_blank" href="https://github.com/danielpes/spark-datetime-lite">
                            <span class="item-title">
                                <i class="fa fa-github lg"></i>
                                <b>Spark DateTime Lite&nbsp;&nbsp;</b>
                            </span>
                        </a>
                        <a target="_blank" href="https://github.com/danielpes/spark-datetime-lite" class="print-only">
                            <span class="print-only">github.com/danielpes/spark-datetime-lite</span>
                        </a>
                    </div>
                    <span class="date"><b>DÉCEMBRE 2016 - ACTUELLEMENT</b></span>
                    <p>
                        Une bibliothèque simplifiée et sans dépendances pour étendre les operations sur des dates en Spark. 100% Scala avec des tests automatisés.
                    </p>
                </div>

            </div>

            <div id="hobbies">
                <span class="sec-title">ACTIVITÉS</span>
                <span id="hob-list">{{ hobbies.join(" | ") }}</span>
            </div>
        </div>

        <div id="right-col" class="main-col">

            <div id="skills">
                <span class="sec-title">COMPÉTENCES</span>
                <div class="skills-list">
                    <template v-for="skill in skills">
                        <span class="skill-name">{{ skill.name }}</span>
                        <div class="skill-bar-outer">
                            <div class="skill-bar-inner" :style="updateSkillBar(skill.level)"></div>
                        </div>
                    </template>
                </div>
            </div>
            <div id="langs">
                <span class="sec-title">LANGUES</span>
                <div class="skills-list">
                    <template v-for="lang in languages">
                        <span class="skill-name">{{ lang.name }}</span>
                        <div class="skill-bar-outer">
                            <div class="skill-bar-inner" :style="updateSkillBar(lang.level)"></div>
                        </div>
                    </template>
                </div>
            </div>
            <div id="links">
                <span class="sec-title">Online</span>
                <div id="links-list" class="icon-grid">
                    <i class="fa-icon fa fa-fw fa-linkedin-square" style="font-size: 1.4em"></i>
                    <a href="http://linkedin.com/in/danieldepaula">
                        <span>linkedin.com/in/danieldepaula</span>
                    </a>
                    <i class="fa-icon fa fa-fw fa-github" style="font-size: 1.4em"></i>
                    <a href="http://github.com/danielpes">
                        <span>github.com/danielpes</span>
                    </a>
                    <i class="fa-icon fa fa-fw fa-stack-overflow" style="font-size: 1.2em"></i>
                    <a href="http://stackoverflow.com/users/3864822/">
                        <span>stackoverflow.com/users/3864822/</span>
                    </a>
                </div>

            </div>
            <div id="acc">
                <span class="sec-title">ACCOMPLISSEMENTS</span>
                <div id="acc-content" class="sec-content">
                    <p>
                        Actuellement dans les <b>top 1%</b> pour <i>apache-spark</i> sur <b>StackOverflow</b>
                    </p>
                    <p>
                        Actuellement dans les <b>top 5%</b> pour <i>scala</i> et <i>pyspark</i> sur <b>StackOverflow</b>
                    </p>
                    <p>
                        <b>Co-auteur</b> de l’article universitaire “WebNCL: a web-based presentation machine for
                        multimedia documents” in 2012
                    </p>
                </div>
            </div>
            <div id="rec">
                <span class="sec-title">Recommendation</span>
                <div id="rec-content">
                    <p class="quote">
                        “I believe Daniel is one of the
                        most talented and enjoyable
                        persons I've ever worked with. I
                        definitely recommend him to
                        any team”
                    </p>

                    <div class="quote-author">
                        <span><b>Fernando Moraes</b></span><br/>
                        <span>Ancien <i>R&D Manager</i> chez Icaro Tech</span><br/>
                        <span>(Texte entier sur LinkedIn)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/main.js"></script>
</body>
</html>