<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-105990489-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};
        gtag('js', new Date());

        gtag('config', 'UA-105990489-2');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Daniel de Paula's CV</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,500,700|Montserrat:400,400i,500,600|Lato:400,400i,500,600|Open+Sans:400,400i,500,600" rel="stylesheet">
    <link type="text/css" rel='stylesheet' href='font-awesome/css/font-awesome.min.css'>
    <link type="text/css" rel="stylesheet" href="stylesheets/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel='stylesheet' href='stylesheets/style.css'>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="data/contents.js"></script>
    <script type="text/javascript" src="include/materialize.min.js"></script>
    <script type="text/javascript" src="include/vue.min.js"></script>
</head>
<body>
<div id="page" v-bind:style="{ 'fontFamily': currentFont }">
    <nav>
        <div id="navbar" class="nav-wrapper grey darken-2">
            <ul id="font-selector" class="dropdown-content gray darken-2">
                <li v-for="font in fonts"><a v-on:click="currentFont = font" v-bind:style="{ 'font-family': font }">{{ font }}</a></li>
            </ul>
            <ul class="left">
                <!--<li class="active no-link"><a><i class="fa fa-cog"></i></a></li>-->
                <li class="dropdown-button" data-beloworigin="true" data-activates="font-selector"><a><i class="fa fa-font" style="margin-right: 1em;"></i>{{ currentFont }}<i class="fa fa-caret-down" style="margin-left: 1em;"></i></a></li>
            </ul>
            <ul class="right">
                <li><a v-on:click="decreaseFont()"><i class="fa fa-search-minus"></i></a></li>
                <li><a v-on:click="increaseFont()"><i class="fa fa-search-plus"></i></a></li>
                <!--<li><a href="https://restpack.io/api/html2pdf/v2/convert?access_token=...&url=https://danielpes.github.io/my-cv/"><i class="fa fa-download"></i></a></li>-->
                <li><a v-on:click="window.print()"><i class="fa fa-print"></i></a></li>
            </ul>
        </div>
    </nav>
    <div id="content">
        <div id="header">
            <div id="title">
                <span>{{ info.name }}</span>
            </div>
            <div></div>
            <div id="about">
                <span id="stitle">{{ info.position }}</span>
                <span class="info">{{ info.nationality }} | {{ info.age }} years old | {{ info.status }}</span>
                <span class="info">Available from August 2018</span>
            </div>
            <div id="contact" class="has-icons">
                <i class="fa fa-fw fa-home" style="font-size: 1.5em"></i>
                <span>{{ contact.city }} | {{ contact.country }}</span>
                <i class="fa fa-fw fa-phone" style="font-size: 1.4em"></i>
                <span>{{ contact.phone }}</span>
                <i class="fa fa-fw fa-envelope" style="font-size: 1.15em"></i>
                <span>{{ contact.email }}</span>
            </div>
        </div>

        <div id="left-col" class="main-col">
            <div id="jobs">
                <span class="sec-title">Experience</span>

                <div class="item" v-for="exp in experiences">
                    <div class="item-header">
                        <div>
                            <span class="item-title"><b>{{ exp.institution }}</b></span>
                            <span class="loc">| {{ exp.city }} | {{ exp.country }}</span>
                        </div>
                        <span class="role">{{ exp.role }}</span>
                    </div>
                    <span class="date"><span class="period">{{ exp.period }}</span><!--
                 --><template v-if="exp.duration"> | {{ exp.duration }}</template></span>
                    <p>{{ exp.description}}</p>
                </div>
            </div>

            <div id="edu">

                <span class="sec-title">Education</span>

                <div class="item" v-for="edu in education">
                    <div class="item-header">
                        <div>
                            <span class="item-title"><b>{{ edu.institution }}</b></span>
                            <span class="loc">| {{ edu.city }} | {{ edu.country }}</span>
                        </div>
                        <span class="role">{{ edu.role }}</span>
                    </div>
                    <span class="date"><span class="period">{{ edu.period }}</span><!--
                --> <template v-if="edu.duration"> | {{ edu.duration }}</template></span>
                    <p>{{ edu.description}}</p>
                </div>
            </div>

            <div id="prj">

                <span class="sec-title">Projects</span>

                <div class="item">
                    <div class="item-header">
                        <a target="_blank" href="https://github.com/danielpes/spark-datetime-lite">
                            <span class="item-title">
                                <i class="fa fa-github lg"></i>
                                <b>Spark DateTime Lite&nbsp;&nbsp;</b>
                            </span>
                        </a>
                        <a target="_blank" href="https://github.com/danielpes/spark-datetime-lite" class="print-only">
                            <span class="print-only">github.com/danielpes/spark-datetime-lite</span>
                        </a>
                    </div>
                    <span class="date"><b>DEC 2016 - PRESENT</b></span>
                    <p>
                        A lightweight, dependency-free library for extending Spark's date and timestamp operations.
                        100% Scala with automated tests.
                    </p>
                </div>

            </div>

            <div id="hobbies">
                <span class="sec-title">Hobbies</span>
                <span id="hob-list">{{ hobbies.join(" | ") }}</span>
            </div>
        </div>

        <div id="right-col" class="main-col">

            <div id="skills">
                <span class="sec-title">Skills</span>
                <div class="skills-list">
                    <template v-for="skill in skills">
                        <span class="skill-name">{{ skill.name }}</span>
                        <span>
                            <i v-for="n in skill.level" class="fa fa-circle"></i><!--
                         --><i v-for="n in (8 - skill.level)" class="fa fa-circle-o"></i>
                        </span>
                    </template>
                </div>
            </div>
            <div id="langs">
                <span class="sec-title">Languages</span>
                <div class="skills-list">
                    <template v-for="lang in languages">
                        <span class="skill-name">{{ lang.name }}</span>
                        <span>
                            <i v-for="n in lang.level" class="fa fa-circle"></i><!--
                         --><i v-for="n in (8 - lang.level)" class="fa fa-circle-o"></i>
                        </span>
                    </template>
                </div>
            </div>
            <div id="links">
                <span class="sec-title">Online</span>
                <div id="links-list" class="has-icons">
                    <i class="fa fa-fw fa-linkedin-square" style="font-size: 1.4em"></i>
                    <a href="http://linkedin.com/in/danieldepaula">
                        <span>linkedin.com/in/danieldepaula</span>
                    </a>
                    <i class="fa fa-fw fa-github" style="font-size: 1.4em"></i>
                    <a href="http://github.com/danielpes">
                        <span>github.com/danielpes</span>
                    </a>
                    <i class="fa fa-fw fa-stack-overflow" style="font-size: 1.2em"></i>
                    <a href="http://stackoverflow.com/users/3864822/">
                        <span>stackoverflow.com/users/3864822/</span>
                    </a>
                </div>

            </div>
            <div id="acc">
                <span class="sec-title">Acomplishments</span>
                <div id="acc-content" class="sec-content">
                    <p>
                        Currently in the <b>top 1%</b> for the <i>apache-spark</i> tag on <b>StackOverflow</b>
                    </p>
                    <p>
                        Currently in the <b>top 5%</b> for the <i>scala</i> and pyspark tags on <b>StackOverflow</b>
                    </p>
                    <p>
                        <b>Co-author</b> of the <b>award-winning</b> short paper “WebNCL: a web-based pre&shy;sentation
                        machine for multimedia documents” in 2012
                    </p>
                </div>
            </div>
            <div id="rec">
                <span class="sec-title">Recommendation</span>
                <div id="rec-content">
                    <p class="quote">
                        “I believe Daniel is one of the
                        most talented and enjoyable
                        persons I've ever worked with. I
                        definitely recommend him to
                        any team”
                    </p>

                    <div class="quote-author">
                        <span><b>Fernando Moraes</b></span><br/>
                        <span>Former R&D Manager at Icaro Tech</span><br/>
                        <span>(Full text on LinkedIn)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="main.js"></script>
</body>
</html>