
$debug-border: 1px dotted gray;

// Colors
$c-darkest: #000;
$c-dark: #353535;
$c-darkgray: #434343;
$c-gray: #666666;
$c-section: #2079c7;
$c-main: #000;

@page {
  size: A4;
  margin: 0;
}

@media print {
  .noprint {
    visibility: hidden;
  }
}

html {
  font-size: 12px;
}

body {
  background-color: #ddd;
  font: 400 1rem 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

p {
  text-align: justify;
  margin: 0;
  line-height: 1.5em;
}

a {
  color: $c-main;
  text-decoration: none;

  &:link, &:hover, &:visited, &:active {
    color: $c-main;
    text-decoration: none;
  }
}

.withBorder {
  border: $debug-border;
}

.fa {
  justify-self: center;
}

#page {
  width: 65em;
  height: 100%;
  min-height: 100vh;
  background-color: white;
  margin: auto;
  display: block;
}

#content {
  margin: 4em;
  display: grid;
  grid-column-gap: 4em;
  grid-row-gap: 2em;
  grid-template-rows: auto 1fr;
  grid-template-columns: 65% auto;
}

#header {
  display: grid;
  grid-column-gap: inherit;
  grid-column: 1 / 3;
  grid-template-columns: inherit;
  grid-template-rows: auto auto;

  #title {
    font: bold 2.5em "Merriweather", serif;
  }
}

#buttons {
  justify-self: end;
}

#about {
  display: grid;
  align-content: space-between;

  #stitle {
    font-size: 1.4em;
  }

  .info {
    color: $c-darkgray;
  }
}

#contact {
  display: grid;
  align-content: space-between;
  align-items: center;
  grid-column-gap: 0.7em;
  grid-template-rows: 1.6em 1.6em 1.6em;
  grid-template-columns: 1.1em auto;
}

#jobs {
  font-size: 1rem;
}

#edu {
  font-size: 0.95rem;
}

.main-col {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 2em;
}

.sec-title {
  color: $c-section;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.item {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}

.item-header {
  display: grid;
  align-items: end;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.item-title {
  font-size: 1.1em;

  .fa {
    font-size: 0.8em;
  }
}

.date {
  margin-bottom: 0.5em;
  font-size: 0.95em;
  color: $c-gray;
}

.role {
  font-style: italic;
  grid-column: 2 / 3;
  justify-self: end;
}

#hobbies {
  font-size: 0.95em;
  display: grid;

  #hob-list {
    margin-top: 1em;
    text-align-last: justify;
  }
}